@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
    <hr />
    @Html.ActionLink("Enviar por GET", "Index", new { matricula1 = "1523554", nome1 = "Jonatam Rocha",
            matricula2 = "15932853", nome2 = "Jeanilce Sousa1"})
    <hr />
    <ul>
        <li>@Request.QueryString["matricula1"]: @Request.QueryString["nome1"]</li>
        <li>@Request.QueryString["matricula2"]: @Request.QueryString["nome2"]</li>
    </ul>
</div>